extends layout

block content
    div#main(ng-app="allCharts" ng-controller="ChartController")
        div.current-polls(ng-repeat="chart in charts")
            a(href="https://fcc-voting-app-ch4tml.c9users.io/" + "{{chart.url}}" target="_blank")
                div
                    h1 {{chart.title}}
        // Chart repeater
    // Main div
    
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js", type="text/javascript")
    script(src="../../javascripts/getCharts.js", type="text/javascript")