extends layout

block content
    div#main(ng-app="allCharts" ng-controller="ChartController")
        div.current-polls(ng-repeat="chart in charts")
            h1  {{chart.title}}
        // Chart repeater
    // Main div
    
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js", type="text/javascript")
    script(src="../../javascripts/getCharts.js", type="text/javascript")