extends layout

block content
    div#main(ng-app="allCharts" ng-controller="ChartController")
        div(ng-repeat="chart in charts")
            h1  {{chart.title}}
            {{charts}}
        // Chart repeater
    // Main div