extends layout

block content
    body
        div.container(style="padding: 5%")
            h2 Create new poll
            include ./chart.jade
            form#create-poll(action="/create", method="post")
                input(type='hidden', name='_csrf', value=_csrf)
                div
                    label(for="title") Poll title:
                    input#title(type="text", name="title", ng-model="chart.title", autofocus="true", required="true")
                div
                    label(for="option") Option:
                    input(type="text", name="option", required="true")
                div
                    label(for="option") Option:
                    input(type="text", name="option")
                div
                    label(for="option") Option:
                    input(type="text", name="option")
                div
                    label(for="option") Option:
                    input(type="text", name="option")
                div#form-controls
                    button.button.btn.btn-success#add-label(type="button") Add more options
                    button.button.btn.btn-success(type="submit") Create
            // Form container
        // Div container
    //Body
    script(type="text/javascript", src="../../javascripts/addLabels.js")
    script(type="text/javascript", src="../../javascripts/chartConfig.js")
    script(type="text/javascript", src="../../javascripts/chartControl.js")